
<div class="sidebar-logo">
    <img src="~/images/Logo.png" alt="Logo" class="Logo-img" />
    <h2>IDSmarter</h2>
</div>


<ul class="sidebar-nav">
    <li><a href="#"><span class="icon">📋</span> Dashboard</a></li>
    <li><a href="#"><span class="icon">👨‍🎓</span> Student Management</a></li>
    <li><a href="#"><span class="icon">👨‍🏫</span> Instructor Management</a></li>
    <li><a href="#"><span class="icon">💰</span> Payment</a></li>
    <li><a href="#"><span class="icon">⚙️</span> Profile Settings</a></li>
</ul>


<div class="sidebar-footer">
    <span class="icon">👤</span>
    NatoiNaMahalKa@gmail.com
    <span class="logout-icon">🔁</span>
</div>
