@{
    ViewBag.Title = "Dashboard";
}

<!-- Welcome Card -->
<div class="welcome-box">
    <div class="welcome-text">
        <h1><strong>Hi Natoi!</strong></h1>
        <small class="role">Registrar</small>
        <p>
            Welcome Back! Stay on top of student records, manage enrollments, and keep academic data organized effortlessly.
        </p>
    </div>
    <div class="welcome-image">
        <img src="~/images/person-desk.png" alt="Registrar Image" />
    </div>
</div>
